services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: taskmanagement
    volumes:
      - pgdata:/var/lib/postgresql
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d taskmanagement"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  backend:
    image: phoolis/task-manage-backend:latest
    environment:
      DB_SYNC: true # Set true for first launch only
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/taskmanagement
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: http://localhost
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    image: phoolis/task-manage-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
volumes:
  pgdata:
