services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskmanagement
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d taskmanagement"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      DB_SYNC: false # Set true for first launch only
      DATABASE_URL: postgresql://postgres:postgres@db:5432/taskmanagement
      FRONTEND_URL: http://localhost
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres:
